GHCR_OWNER=your-github-username
IMAGE_TAG=latest

POSTGRES_USER=admin
POSTGRES_PASSWORD=change-me
POSTGRES_DB=traffic_management

DATABASE_USER=admin
DATABASE_PASSWORD=change-me
DATABASE_NAME=traffic_management

JWT_SECRET=change-me

POSTGRES_PUBLIC_PORT=5432
REDIS_PUBLIC_PORT=6379
GATEWAY_PUBLIC_PORT=4000
